body {
    margin:0;
    font-family:Arial;
    background:black;
    color:white;
}

nav {
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#111;
}

.logo {
    font-size:24px;
    color:#00ffcc;
}

a {
    color:white;
    margin:0 10px;
    text-decoration:none;
}

.center {
    text-align:center;
    margin-top:100px;
}

.big {
    font-size:60px;
    color:#00ffcc;
}

.btn {
    display:inline-block;
    margin:20px;
    padding:15px 40px;
    background:#00ffcc;
    color:black;
    border-radius:8px;
}

textarea {
    width:60%;
    height:120px;
}

.features div {
    margin:15px;
    font-size:22px;
}

.note {
    background:#111;
    padding:15px;
    margin:15px auto;
    width:60%;
    border-radius:8px;
}
